.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px; 
    padding: 10px;
    justify-content: center; 
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
  }
  
  
  @media (max-width: 768px) {
    .product-card {
      flex: 1 1 calc(50% - 20px); 
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .product-card {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  